.container {
  background-color: #fff;
  padding: 26px 30px;
}

.title {
  font-size: 24;
  font-family: 'Inter';
  color: #000;
  font-weight: 600;
}

.searchField {
  width: 54%;
  padding: 12px 20px;
  border-radius: 8px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  gap: 8px;

  & :global(.ant-input::placeholder) {
    color: #999999;
    font-size: 14px;
    font-family: 'Inter';
  }
}
