$checkedBg: #3c538e;
$borderColor: #e2e2e2;
$grey: #b2b3b9;

.checkbox {
  & :global(.ant-checkbox) {
    width: 22px;
    height: 22px;
    border-color: $grey;
    border-radius: 4px;
    z-index: 100;
  }

  & :global(.ant-checkbox-checked) {
    appearance: none;
    background-color: $checkedBg;

    &::after {
      display: none;
    }
  }

  & :global(.ant-checkbox-indeterminate) {
    background-color: $checkedBg;

    &::after {
      display: none;
    }
  }
}

.selectedRow {
  & td:first-of-type {
    border-left: 3px solid $checkedBg !important;
  }
}

.row {
  & td {
    padding-left: 18px;
    padding-right: 18px;

    height: 71px;
    border-bottom: 1px solid $borderColor !important;

    &:first-of-type {
      border-left: 3px solid transparent;
    }
  }
}

.container {
  background: #fff;
  padding: 30px 30px 60px 30px;
  flex: 1;
  min-height: 0;

  & :global(.ant-table-thead > tr > th) {
    height: 73px;
    background-color: #fff;
    color: $grey;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid $borderColor;
    border-left: 0;

    &::before {
      display: none;
    }
  }
}

.image {
  object-fit: 'contain';
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.name {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $grey;
}


